@model IEnumerable<DigitalDiary.Models.Content>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home - DigitalDiary</title>
</head>
<body>
    <p>
        @Html.ActionLink("Added New Note", "Create") &nbsp &nbsp &nbsp @Html.ActionLink("Logout", "logout")  &nbsp &nbsp &nbsp @Session["uname"]  &nbsp &nbsp &nbsp @Session["uid"]
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ntext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ndate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Npriority)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ntext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ndate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Npriority)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Nid  }) |
                @Html.ActionLink("Details", "Details", new { id = item.Nid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Nid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
